/* roboto-flex-regular - latin */
@font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("./assets/fonts/roboto-flex-v8-latin-regular.woff2") format("woff2");
}
